<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'project_app/css/index.css' %}">
</head>

<body>
<!-- Nav Class -->
<div class="nav">
    <div class="nav_header">
        <img src="{% static 'project_app/image/icons/message.png' %}" class="nav_header_icon">
        <img src="{% static 'project_app/image/icons/setting.png' %}" class="nav_header_icon">
        <img src="{% static 'project_app/image/icons/alarm.png' %}" class="nav_header_icon">
    </div>

    <div class="profile">
        <img src="{% static 'project_app/image/icons/profile(1).png' %}" class="profile_photo"> <!--프로필사진-->
        <p style="color:white; opacity:1; display:inline-block;" class="profile_text">
            <a style="font-size: 20;">{{user}}</a><br> <!--이름-->
            <a style="font-size: 10">{{user.email}}</a><br> <!--이메일-->
            <img src="{% static 'project_app/image/icons/profile_btn.png' %}" style="width:71%; margin-top:10;"> <!--프로필 버튼-->
        </p>
    </div>
    {% block nav-menu %}
    {% endblock %}
</div>

<!-- Wrapper Class -->
{% block content %}
{% endblock %}
</body>
</html>