{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'project_app/css/mng.css' %}">
    <link rel="stylesheet" href="{% static 'project_app/css/dropdown.css' %}">
</head>
<body>
           <div class="nav" >
            <div class="nav_header">
                <img src="{% static 'project_app/image/ProFol2.png' %}" class="nav_header_logo" onclick="location.href='/app/'">
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />

                    <img src="{% static 'project_app/image/icons/hamburger_icon.png' %}" class="nav_header_icon">

                        <ul id="menu">
                            <img src="{% static 'project_app/image/icons/close_icon.png' %}" class="close_icon">
                            <br><br>
                            <a href="#" class="menu_in_hamburger"><li>프로필 설정</li></a>
                            <a href="/app/create_project_form/" class="menu_in_hamburger"><li>프로젝트 생성</li></a>
                            <a href="#" class="menu_in_hamburger"><li>이용약관</li></a>
                            <a href="#" class="menu_in_hamburger"><li>고객센터</li></a>
                            <a href="#" class="menu_in_hamburger"><li>Sign Out</li></a>
                        </ul>
                </div>
            </nav>
            </div><br><Br>

            <div class="profile">
                {% if user.socialaccount_set.all.0.get_avatar_url %}
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="profile_photo"/>
                {% else %}
                <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_photo">
                {% endif %}
                <p style="color:white; opacity:1; display:inline-block;" class="profile_text">
                    <a onclick="location.href='/app/'" style="font-size: 0.8em">{{user}}</a><br>
                    <a style="font-size: 0.5em">{{user.email}}</a><br>
                    <img src="{% static 'project_app/image/icons/profile_btn.png' %}"
                         onmouseover="this.src='{% static 'project_app/image/icons/profile_btn_yellow.png' %}'"
                         onmouseout="this.src='{% static 'project_app/image/icons/profile_btn.png' %}'"
                         onclick="window.open('/app/portfolio/')"
                         class="profile_btn">
                </p>
            </div>

        <div class="menu">
            {% for project in project_list %}
            <img src="{% static 'project_app/image/icons/project_white.png' %}" style="width:6.5%">
                <a href="{{project.get_absolute_url}}">
                    <h2>{{ project }}</h2>
                </a>
            <ul>
                {% for category in project.category.all %}
                {% if project == pk_project and category == pk_category %}
                <li class="menu_item selected_menu">
                    <img src="{% static 'project_app/image/icons/part.png' %}" style="width:6.5%">
                    <a href="/app/{{project.pk}}/{{category}}/">
                        <h2 style="color:#252C41">{{category}}</h2>
                    </a>
                </li>
                {% else %}
                <li class="menu_item">
                    <img src="{% static 'project_app/image/icons/part_white.png' %}" style="width:6.5%">
                    <a href="/app/{{project.pk}}/{{category}}/">
                        <h2>{{category}}</h2>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
                <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

    <div class="wrapper">

        <div class="title">
            <img src="{% static 'project_app/image/icons/part.png' %}" class="title_icon">
            <h1>{{pk_category}}</h1><br>
            <img src="{% static 'project_app/image/icons/project2.png' %}" class="subtitle_icon">
            <p>{{pk_project}}</p>
        </div>
        {% for todo in todo_list %}
        {% if todo.status is False %}
        <div class="card" id="card-{{todo.pk}}">
            <div class="task">
                <img src="{% static 'project_app/image/icons/paper2.png' %}" class="icon_in_card">
                {{ todo.content }}
            </div>
            <div class="group">
                <img src="{% static 'project_app/image/icons/group.png' %}" class="opacity07 icon_in_card" style="margin-right:-16px;">
                {% if pk_project.participation is not None %}
                    {% for u in pk_project.participation.participation.all %}
                            {% if u.socialaccount_set.all.0.get_avatar_url %}
                                <img src="{{ u.socialaccount_set.all.0.get_avatar_url }}" class="profile_photo profile_photo_in_card"/>
                            {% else %}
                                <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_photo profile_photo_in_card">
                            {% endif %}
                    {% endfor %}
                {%else%}
                    {% if user.socialaccount_set.all.0.get_avatar_url %}
                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="profile_photo profile_photo_in_card"/>
                    {% else %}
                        <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_photo profile_photo_in_card">
                    {% endif %}
                {% endif %}
            </div>
            <div class="dday">
                {% for todo_dday_key, todo_dday_value in todo_list_dday.items %}
                    {% if todo_dday_key == todo %}
                        {% if todo_dday_value > 0 %}
                            D-{{todo_dday_value}}
                        {% else %}
                            Ended
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            {% if todo.author == user %}
                <div class="complete">
                    <img src="{% static 'project_app/image/icons/check(empty).png' %}"
                         onmouseover="this.src='{% static 'project_app/image/icons/check(full).png' %}'"
                         onmouseout="this.src='{% static 'project_app/image/icons/check(empty).png' %}'"
                         onclick="location.href='/app/{{pk_project.pk}}/{{pk_category}}/done/{{todo.pk}}'"
                        style="width:100%">
                </div>
            {% endif %}
            
            <div class="part">
                <img src="{% static 'project_app/image/icons/part2.png' %}" class="icon_in_card">
                {{ todo.category }}
            </div>
            {% if todo.tag is not None %}
            <div class="tag">
                <img src="{% static 'project_app/image/icons/tag2.png' %}" class="icon_in_card">
                {{ todo.tag }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="add_task">
            <img src="{% static 'project_app/image/icons/add_task_btn.png' %}"  style="height:100%" onclick="location.href='create_todo_form/'">
        </div>

        {% if countList.1 != 0 %}
        <hr>
        <p>Finished</p>
        {% endif %}

        {% for todo in todo_list %}
        {% if todo.status is True %}
        <div class="card" id="card-finished-{{todo.pk}}">
            <div class="task">
                <img src="{% static 'project_app/image/icons/paper2.png' %}" class="icon_in_card">
                {{todo}}
            </div>
            <div class="group">
                <img src="{% static 'project_app/image/icons/group.png' %}" class="opacity07 icon_in_card">
                {% if pk_project.participation is not None %}
                    {% for u in pk_project.participation.participation.all %}
                            {% if u.socialaccount_set.all.0.get_avatar_url %}
                                <img src="{{ u.socialaccount_set.all.0.get_avatar_url }}" class="profile_photo profile_photo_in_card"/>
                            {% else %}
                                <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_photo profile_photo_in_card">
                            {% endif %}
                    {% endfor %}
                {%else%}
                    {% if user.socialaccount_set.all.0.get_avatar_url %}
                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="profile_photo profile_photo_in_card"/>
                    {% else %}
                        <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_photo profile_photo_in_card">
                    {% endif %}
                {% endif %}
            </div>
            <div class="dday">
                {% for todo_dday_key, todo_dday_value in todo_list_dday.items %}
                    {% if todo_dday_key == todo %}
                        {% if todo_dday_value > 0 %}
                            D-{{todo_dday_value}}
                        {% else %}
                            Ended
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            {% if todo.author == user %}
                <div class="complete">
                    <img src="{% static 'project_app/image/icons/check(full).png' %}" style="width:100%" >
                </div>
            {% endif %}

            <div class="part">
                <img src="{% static 'project_app/image/icons/part2.png' %}" class="icon_in_card">
                {{todo.category}}
            </div>
            {% if todo.tag is not None %}
            <div class="tag">
                <img src="{% static 'project_app/image/icons/tag2.png' %}" class="icon_in_card">
                {{ todo.tag }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</body>
</html>