{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'project_app/css/mng.css' %}">
</head>
<body>
    <div class="nav">

            <div class="nav_header">
                <img src="{% static 'project_app/image/icons/message.png' %}" class="nav_header_icon">
                <img src="{% static 'project_app/image/icons/setting.png' %}" class="nav_header_icon">
                <img src="{% static 'project_app/image/icons/alarm.png' %}" class="nav_header_icon">
            </div>

            <div class="profile">
                <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_photo">
                <p style="color:white; opacity:1; display:inline-block;" class="profile_text">
                    <a onclick="location.href='{% provider_login_url 'google'%}'" style="font-size: 0.8em">Login</a><br>
                    <img src="{% static 'project_app/image/icons/profile_btn.png' %}"
                         onmouseover="this.src='{% static 'project_app/image/icons/profile_btn_yellow.png' %}'"
                         onmouseout="this.src='{% static 'project_app/image/icons/profile_btn.png' %}'"
                         onclick="location.href='/app/portfolio/'"
                         class="profile_btn">
                </p>
            </div>

            <div class="menu">
                {% for project in project_list %}
                <div class="menu_item">
                    <img src="{% static 'project_app/image/icons/project_white.png' %}" style="width:6.5%">
                    <a href="{{project.get_absolute_url}}">
                        <h2>{{ project }}</h2>
                    </a>
                </div>
                <ul>
                    {% for category in project.category.all %}
                    <li class="menu_item">
                        <img src="{% static 'project_app/image/icons/part_white.png' %}" style="width:6.5%">
                        <a href="/app/{{project.pk}}/{{category}}/">
                            <h2>{{category}}</h2>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>

    <div class="wrapper">
        <div class="title">
            <img src="{% static 'project_app/image/icons/part.png' %}" class="title_icon">
            <h1>To Do List</h1>

            <div class="create_project">
                <img src="{% static 'project_app/image/icons/create_project_btn.png' %}" >
            </div>
        </div>

        {% for project in project_list %}

        {% if project.todo_set.count != 0 %}
        <Br><img src="{% static 'project_app/image/icons/project2.png' %}" class="subtitle_icon">
        <p>{{project}}</p>
        {% endif %}

        {% for todo in project.todo_set.all %}
        <div class="card">
            <div class="task">
                <img src="{% static 'project_app/image/icons/paper2.png' %}" class="icon_in_card">
                {{todo}}
            </div>
            <div class="group">
                <img src="{% static 'project_app/image/icons/group.png' %}" class="opacity07 icon_in_card">
                dfdfef
            </div>
            <div class="dday">
                {% for todo_dday_key, todo_dday_value in todo_list_dday.items %}
                    {% if todo_dday_key == todo %}
                        {% if todo_dday_key > 0 %}
                            {{todo_dday_value}}
                        {% else %}
                            Ended
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="complete">
                <img src="{% static 'project_app/image/icons/check(empty).png' %}" onmouseover="this.src='{% static "project_app/image/icons/check(full).png" %}'" onmouseout="this.src='{% static "project_app/image/icons/check(empty).png" %}'">
            </div>

            <div class="part">
                <img src="{% static 'project_app/image/icons/part2.png' %}" class="icon_in_card">
                {{todo.category}}
            </div>
            {% if todo.tag is not None %}
            <div class="tag">
                <img src="{% static 'project_app/image/icons/tag2.png' %}" class="icon_in_card">
                {{ todo.tag }}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        {% endfor %}
        <hr>
        <p>Finished</p>
        <div class="card">
            <div class="task">
                <img src="{% static 'project_app/image/icons/paper2.png' %}" class="icon_in_card">
                task 내용
            </div>
            <div class="group">
                <img src="{% static 'project_app/image/icons/group.png' %}" class="opacity07 icon_in_card">
                dfdfef
            </div>
            <div class="dday">
                D-숫자
            </div>
            <div class="complete">
                <img src="{% static 'project_app/image/icons/check(full).png' %}">
            </div>

            <div class="part">
                <img src="{% static 'project_app/image/icons/part2.png' %}" class="icon_in_card">
            </div>
            <div class="tag">
                <img src="{% static 'project_app/image/icons/tag2.png' %}" class="icon_in_card">
            </div>
        </div>
    </div>
</body>
</html>