<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'project_app/css/portfolio.css' %}">
    </head>
    <body>
        <div class="header">
            <div class="header_profile">
                {% if user.socialaccount_set.all.0.get_avatar_url %}
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="profile_img"/>
                {% else %}
                <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_img">
                {% endif %}
                {{user}}
                <a href="edit_userportfolio_form/" class="edit_btn">Edit</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="intro">
                {{ userPortfolio.content | safe }}
            </div>
            <hr>
            <div class="projects">
                Projects<br>
                {% for project in project_list %}
                {% if project.status %}
                <div class="project_card" onclick="location.href='/app/portfolio_detail/{{project.pk}}'">
                    {{project}}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="footer">

        </div>
    </body>
</html>