<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'project_app/css/portfolio.css' %}">

        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var pieData = new google.visualization.DataTable();
            var barData = new google.visualization.DataTable();

            pieData.addColumn('string', 'part');
            pieData.addColumn('number', 'performance degree');
            barData.addColumn('string', 'tag');
            barData.addColumn('number', 'performance degree');

            {% for todo_key, todo_value in todo_dict.items %}
            pieData.addRow(['{{todo_key}}', {{todo_value}}])
            {% endfor %}

            {% for tag_key, tag_value in tag_dict.items %}
            barData.addRow(['{{tag_key}}', {{tag_value}}])
            {% endfor %}


            // Set chart options
            var pie_Options = {'title':'Part',
                        'width':480,
                        'height':360};
            var bar_Options = {'title':'Tag',
                        'width':480,
                        'height':360};

            // Instantiate and draw our chart, passing in some options.
            var chart1 = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
            var chart2 = new google.visualization.BarChart(document.getElementById('bar_chart_div'));
            chart1.draw(pieData, pie_Options);
            chart2.draw(barData, bar_Options);
        }
        </script>
    </head>
    <body>

        <div class="header">
            <div class="header_profile">
                {% if user.socialaccount_set.all.0.get_avatar_url %}
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="profile_img"/>
                {% else %}
                <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_img">
                {% endif %}
                {{user}}
            </div>
        </div>
        <div class="wrapper">
            <div class="projects">
                {{pk_project}}<br>
                <p class="project_intro">
                    {{pk_project.get_markdown_content | safe }}
                </p>
            </div>

            <hr>
            <div class="projects">
                Parts<br>
                <!--Div that will hold the pie chart-->
                <div id="pie_chart_div" class="chart"></div>
                <div id="bar_chart_div" class="chart"></div>
            </div>
        </div>
    </body>
</html>