<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'project_app/css/portfolio.css' %}">
    </head>

    <body>
        <div class="header">
            <div class="header_profile">
                {% if user.socialaccount_set.all.0.get_avatar_url %}
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="profile_photo"/>
                {% else %}
                <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_img">
                {% endif %}
                {{user}}
                <a href="edit_userportfolio/">Edit</a>
            </div>
        </div>

        <div class="wrapper">
            <form method="POST" action="/app/portfolio/edit_userportfolio/">
                {%csrf_token%}

                <!--항목: card로 구성-->
                <div class="card">
                <a class="card-title">프로필</a>
                    {{ userPortfolioForm.content }}
                </div>

                <button type="submit" class="create_btn">저장</button>
            </form>
            <!-- for markdownX -->
            {{ userPortfolioForm.media }}
        </div>
        <div class="footer">

        </div>
    </body>
</html>