{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'project_app/css/mng.css' %}">
    <link rel="stylesheet" href="{% static 'project_app/css/mng_project.css' %}">
    <link rel="stylesheet" href="{% static 'project_app/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'project_app/css/dropdown.css' %}">
    <style>
        hr{
            margin-top:24px;
        }
    </style>
</head>
<body>
       <div class="nav" >
            <div class="nav_header">
                <img src="{% static 'project_app/image/ProFol2.png' %}" class="nav_header_logo" onclick="location.href='/app/'">
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />

                    <img src="{% static 'project_app/image/icons/hamburger_icon.png' %}" class="nav_header_icon">

                        <ul id="menu">
                            <img src="{% static 'project_app/image/icons/close_icon.png' %}" class="close_icon">
                            <br><br>
                            <a href="#" class="menu_in_hamburger"><li>프로필 설정</li></a>
                            <a href="#" class="menu_in_hamburger"><li>이용약관</li></a>
                            <a href="#" class="menu_in_hamburger"><li>고객센터</li></a>
                            <a href="#" class="menu_in_hamburger"><li>Sign Out</li></a>
                        </ul>
                </div>
            </nav>
            </div><br><Br>

            <div class="profile">
                {% if user.socialaccount_set.all.0.get_avatar_url %}
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="profile_photo"/>
                {% else %}
                <img src="{% static 'project_app/image/icons/profile_sample.png' %}" class="profile_photo">
                {% endif %}
                <p style="color:white; opacity:1; display:inline-block;" class="profile_text">
                    <a onclick="location.href='/app/'" style="font-size: 0.8em">{{user}}</a><br>
                    <a style="font-size: 0.5em">{{user.email}}</a><br>
                    <img src="{% static 'project_app/image/icons/profile_btn.png' %}"
                         onmouseover="this.src='{% static 'project_app/image/icons/profile_btn_yellow.png' %}'"
                         onmouseout="this.src='{% static 'project_app/image/icons/profile_btn.png' %}'"
                         onclick="window.open('/app/portfolio/')"
                         class="profile_btn">
                </p>
            </div>

        <div class="menu">
            {% for project in project_list %}

                {% if project == pk_project %}
                <div class="menu_item selected_menu">
                    <img src="{% static 'project_app/image/icons/project.png' %}" style="width:6.5%">
                    <a href="{{project.get_absolute_url}}">
                        <h2 style="color:#252C41">{{ project }}</h2>
                    </a>
                </div>
                            {% else %}
                            <div class="menu_item">
                    <img src="{% static 'project_app/image/icons/project_white.png' %}" style="width:6.5%">
                    <a href="{{project.get_absolute_url}}">
                        <h2>{{ project }}</h2>
                    </a>
                </div>
                {% endif %}

                <ul>
                    {% for category in project.category.all %}
                    <li class="menu_item">
                                                <img src="{% static 'project_app/image/icons/part_white.png' %}" style="width:6.5%">
                        <a href="/app/{{project.pk}}/{{category}}/">
                            <h2>{{category}}</h2>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
        </div>
                <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

    <div class="wrapper">
        <div class="title">
            <h1>{{pk_project}}</h1>
            <hr>
            <p style="font-size:28px;">Setting</p>
        </div>

        <div id="popup1" class="overlay">
            <div class="popup">
                <a class="close" href="#">취소</a>
                <a class="close" href="/app/project_done/{{pk_project.pk}}/">확인</a>
                <div class="content">
                    프로젝트를 완료하시겠습니까?
                </div>
            </div>
        </div>

        <ul style="padding:0;">
            <li class="project_edit_menu">
                <a style="color:#252C41">프로젝트 정보 수정</a>
            </li>
            <li class="project_edit_menu">
                <a style="color:#252C41">팀원 초대</a>
                <form method="POST" action="/app/email_send/{{pk_project.pk}}/" style="margin-top:8px;">
                    {%csrf_token%}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    E-mail: <input type="email" name="emailaddress">
                    <!--<input type="hidden" name="project" value="{{pk_project}}">-->
                    <button type="submit" class="create_btn">확인</button>
                </form>
            </li>
            <li class="project_edit_menu">
                <a href="#popup1" style="color:#252C41">프로젝트 완료</a>
            </li>
        </ul>
    </div>
</body>
</html>