{% extends 'project_app/base.html' %}
{% load static %}
{% block title %}TodoList{% endblock %}

<!-- Nav Class -->
{% block nav-menu %}
        {% for project in project_list %}
        <div class="menu">
             <!--프로젝트. 프로젝트 수 만큼 반복-->
            <img src="{% static 'project_app/image/icons/project_white.png' %}" style="width:6.5%">
            {% if pk_project.pk != project.pk %}
            <a href="{{project.get_absolute_url}}"><h2 style="color:white; font-size:17;">{{ project.title }}</h2></a>
            {% else %}
            <h2 style="color:white; font-size:17;">{{ project.title }}</h2>
            {% endif %}
            {% for category in project.category.all %}
            <ul>
                <!--파트. 파트 수 만큼 반복-->
                <li>
                    <img src="{% static 'project_app/image/icons/part_white.png' %}" style="width:6.5%">
                    <a href="/app/{{project.pk}}/{{category}}/"><h2 style="font-size: 17; color:white">{{category}}</h2></a>
                </li> 
            </ul>
            {% endfor %}

        </div>
        {% endfor %}
{% endblock %}

<!-- Wrapper Class -->
{% block content %}
    <div class="wrapper">
        <div class="title">
            <h1>{{category}}</h1><br>
            <h5>{{pk_project}}</h5>
        </div>

        {% for todo in todo_list %}
        <div class="card">  <!--카드생성 부분. task숫자만큼 반복-->
            <div class="task">
                <img src="{% static 'project_app/image/icons/paper2.png' %}">
                <h2>{{ todo.content }}</h2>
            </div>
            <div class="group">
                <img src="{% static 'project_app/image/icons/people2.png' %}">
                <h2>{{ todo.author }}</h2>
            </div>
            <div class="dday">
                <h2>{{ todo.end_date }}</h2>
            </div>
            <div class="complete">
                <img src="{% static 'project_app/image/icons/check(full).png' %}">
            </div>

            <div class="part">
                <img src="{% static 'project_app/image/icons/part2.png' %}">
                {{ category }}
            </div>


            <div class="tag">
                <img src="{% static 'project_app/image/icons/tag2.png' %}">
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}